@import url('https://fonts.googleapis.com/css?family=Roboto|Lato:100,300|Limelight');
* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f9f9fa;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* HEADER */

header {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #0B0B0F 0%, #2D101A 100%);
  border: 0px solid transparent;
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, #EE49FE 0%, #6B5DFF 100%);
  border-image-slice: 1;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .title {
    position: relative;
    width: 225px;
    text-align: left;
    top: -12px;
    left: 15px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 35px;
  }
  .title span {
    font-weight: 900;
    color: #DC5BBE;
    letter-spacing: 3px;
    font-family: 'Limelight', sans-serif;
    font-size: 37px;
  }
  .track {
    height: auto;
    width: 250px;
    margin: 20px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #0B0B0F 0%, #2D101A 100%);
  }
  .track-image {
    position: relative;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

@media (max-width: 600px) {
  .title {
    display: none;
  }
  .track {
    height: auto;
    width: 100%;
    margin: 20px auto;
    background-image: linear-gradient(45deg, #0B0B0F 0%, #2D101A 100%);
    padding: 0px;
  }
  .track-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -15px;
  }
}

.sidebar {
  height: 70px;
}

.search-container {
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.search-header {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.search {
  float: left;
  -webkit-appearance: none;
  height: 45px;
  width: 200px;
  background-image: linear-gradient(-135deg, #0B0B0F 0%, #2D101A 100%);
  border: solid 2px rgba(255,255,255,0.6);
  outline: none;
  color: rgba(255,255,255, 0.5);
  border-radius: 50px;
  padding: 0 20px;
  margin: 0 10px 0 20px;
  font-size: 20px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.search:focus {
  color: rgba(255,255,255,1);
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.search:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.search::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.search:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.search-btn {
  float: right;
  margin-top: 6px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url('airplane-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border-radius: 50px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.search-btn:hover {
  opacity: 0.8;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.search-select {
  float: left;
  margin-top: 2px;
  width: 90px;
  font-size: 16px;
  height: 40px;
  border: none;
  background: none;
  color: rgba(255,255,255,0.7);
  outline: none;
  appearance: none;
}

.search-select:focus {
  color: rgba(255,255,255,1);
}

optgroup {
  color: #000;
}

/* TRACK INFO */

.track-artist {
  font-size: 20px;
  text-align: center;
  margin: 35px auto -14px auto;
  letter-spacing: 2px;
  line-height: 30px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  width: 210px;
}

.track-url {
  font-size: 12px;
  margin-top: 0px;
  color: #DC5BBE;
  text-decoration: none;
  padding-bottom: 2px;
  font-family: 'Lato', sans-serif;
}

.track-url-container {
  text-align: center;
}

.track-name {
  width: 210px;
  font-size: 16px;
  margin: 25px auto;
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 20px 0px;
  border: 0px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to left, transparent 0%, rgba(255,205,225,0.7) 50%, transparent 100%);
  border-image-slice: 1;
}

.track-listeners-container {
  color: #DC5BBE;
  font-size: 12px;
  width: auto;
  text-align: center;
  float: left;
  margin-left: 15px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.track-listeners {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 5px auto 0 auto;
  display: block;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0px;
}

.track-rank-container {
  color: #DC5BBE;
  font-size: 12px;
  width: auto;
  text-align: center;
  float: right;
  margin-right: 15px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.track-rank {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 5px auto 0 auto;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0px;
}

/* TRACK CONTAINER */

.results {
  height: 100vh;
  width: 100%;
  max-width: 1160px;
  position: relative;
  margin: 100px auto;
  display: none;
}

.error-message {
  position: relative;
  text-align: center;
  color: #DC5BBE;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flipInY {
  animation-duration : 2s;

  animation-name : fadeIn;
}
